@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");
:root {
  --main-gradient: linear-gradient(to right, #7735e2, #0a63ac);
  --blue: #0a63ac;
  --purple: #7735e2;
}

body {
  font-family: "Poppins", sans-serif;
}
