.hero {
    text-align: center;
    justify-items: center;
}

.title {
    font-size: 4.8rem;
    margin: 0px;
    font-weight: 700;
    background: var(--main-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.05em;
}

.subtitle {
    font-size: 2rem;
    padding: 0px;
    margin: 0 0 1rem 0;
    font-weight: 500;
    color: #666;
}

.hero {
    padding: 0px;
}

.cta button {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: inherit;
    background: var(--main-gradient);
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}

.image {
    width: 80vh;
}

.image img {
    width: 100%;
}
